<meta name="viewport" content="width=device-width">
<% include css %>

<div class=content>
    <form action="/<%= name %>/protect" method=post>
        <input type=password name=password><br>
        <input type=submit value="enter a password">
    </form>
</div>
<footer>
    <a href='/'>new</a>
</footer>